* { 
  margin: 0; 
  padding: 0; 
}

.buttons {
	margin-bottom: 30px;
}

.btn-info {
	margin: 10px;
}

.gifDiv {
	text-align: center;
	float: left;
	margin: 10px;
	
	
}

.submitButton {
	font-weight: 50px;
}